include AUTHORS.rst
include LICENSE.txt
include CHANGELOG.rst
include README.md
include share_me_share_me/scss/_sticky.scss
include share_me_share_me/static/share_me_share_me/css/sticky.css
include share_me_share_me/static/share_me_share_me/css/sticky.min.css
include share_me_share_me/static/share_me_share_me/js/sticky.jqueryplugin.js
recursive-include share_me_share_me/ *.py *.css *.js